**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
x="abcde"
y=0
for i in x:
    y+=1
print(y)

5

In [2]:
print(len(x))

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
if len(x)<2:
    print("")
else:print("".join((x[0],x[1],x[-2],x[-1])))

w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [139]:
if len(x)>=3:
    if x.find("ing")==-3:
        x="".join((x,"ly"))
        print(x)
    else:
        x="".join((x,"ing"))
else:
    print(x)

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [147]:
max(y,key=len)

'tallest'

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [18]:
"".join((x[-1],x[1:-1],x[0]))

'ebcda'

In [ ]:
def swap(string):
	
	# storing the first character
	start = string[0]
	
	# storing the last character
	end = string[-1]
	
	swapped_string = end + string[1:-1] + start
	print(swapped_string)
	
# Driver Code
swap("GeeksforGeeks")
swap("Python")

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [28]:
counter=0
while counter<=len(x):
    if counter%2==0:
        print(x[counter],end="")
    counter+=1

ace

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [146]:
a=dict()
x="amr and ahmed are frinds but amr is the tallest"
y= x.split()
for i in y:
    a[i]=y.count(i)

print(a)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frinds': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [13]:
print(x.upper(),x.lower())

AMR AND AHMED ARE FRINDES BUT AMR IS THE TALLEST amr and ahmed are frindes but amr is the tallest

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [50]:
x="abcd"
z=""
if len(x)%4==0:
    x=x[::-1]
x

'dcba'

**10- Write a Python program to remove a newline in Python

In [94]:
str1='Python Exercises\n'
print(str1)
print(str1.rstrip())

Python Exercises

Python Exercises

**11-Write a Python program to check whether a string starts with specified characters

In [58]:
f=input("enter string")
a=input("enter start letter")
if a==f[0]:
     print(True) 
else:print(False)

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [72]:
x="yousef"
prefex=input("enter")
x=prefex+x
print(x)

ayousef

**13-Write a Python program to print the following numbers up to 2 decimal places

In [79]:

x=1.233
x=round(x,2)
x

1.23

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [82]:
"{:+.2f}".format(x)

'-1.23'

**15-Write a Python program to display a number with a comma separator

In [86]:
x=1000000000
"{:,}".format(x)

'1,000,000,000'

**16-Write a Python program to reverse a string using 2 ways

In [94]:
x="yousef"
#first way
q=x[::-1]
#socund way
y=x.split()
z=y.reverse()

z="".join(y)

print(q)
print(y)

fesuoy
['yousef']

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [101]:
x="amr and ahmed are frindes but amr is the tallest"
a=dict()

for i in x:
    a[i]=x.count(i)

print(a)

{'a': 6, 'm': 3, 'r': 4, ' ': 9, 'n': 2, 'd': 3, 'h': 2, 'e': 5, 'f': 1, 'i': 2, 's': 3, 'b': 1, 'u': 1, 't': 4, 'l': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [102]:
for i in x:
    if x.count(i)==1:
        print(i)
        break

f

**19-Write a Python program to remove spaces from a given string

In [103]:
print(x.replace(" ",""))

amrandahmedarefrindesbutamristhetallest

**20-Write a Python program to count the number of non-empty substrings of a given string

In [78]:
strr="amr and ahmed are frindes but amr is the tallest"
str_len = len(strr); 
print( int(str_len * (str_len + 1) / 2))

1176

**21-write a Python program to swap first and last element of any list.

In [107]:
a[0],a[-1]=a[-1],a[0]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [109]:
q,w=int(input()),int(input())
a[q],a[w]=a[w],a[q]
a

['are', 'and', 'ahmed', 'amr', 'frindes', 'is', 'amr', 'but', 'the', 'tallest']

**23- search for the all ways to know the length of the list

In [110]:
# using for loop
counter=0
for i in a:
    counter+=1

#using length
size=len(a)
print(size)
print(counter)

10
10

**24-write a Python code to find the Maximum number of list of numbers.

In [121]:
a=[12,5,77,66,3]
print(max(a))

77

**25-write a Python code to find the Minimum number of list of numbers.

In [112]:
print(min(a))

3

**26-search for if an elem is existing in list

In [115]:
#first method
try:
    x=int(input())
    y=a.index(x)
    print(y)
except ValueError:
    print("not exist")
# second method
if x in a:
    print(True)
else:
    print("not exist")

2

**27- clear python list using different ways

In [126]:
#first method 
b=[1,2,3,1]
b.clear()

#second method 
c=[123,55,66]
c=[]
print(b)
print(c)

[]
[]

**28-remove duplicated elements from a list

In [128]:
b=[1,2,3,1]
b=set(b)
b=list(b)
b

[1, 2, 3]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [130]:
d=dict()
keys=["name","id"]
value=["yousef",1]
for i in keys:
    d[i]=value[keys.index(i)]

print(d)

{'name': 'yousef', 'id': 1}

**30-write a python program to count unique values inside a list using different ways

In [155]:
b=[1,2,3,1]
#first method 
n=list(set(b))
print(len(n))
#second method
w=b
w.sort()

counter=0
for i in w:
    if i==len(w)-1:
        break
    elif w[i]==w[i+1]:
        continue
    else:
        counter+=1
print(counter)

3
3

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [13]:
k=int(input())
lst=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
se=set(lst)
se=list(se)
result=[]
for i in se:
    if lst.count(i)>=k:
        result.append(i)
        
result

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [24]:
c=[1 ,2 ,2 ,3 ,4 ,5]
d=[]

for i in range(1,6):
    maxx=max(c[i],c[i-1])
    d.append(maxx)
d

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [3]:
# Python program to print all
# the possible combinations

from itertools import permutations

# Get all combination of [1, 2, 3]
# of length 3
comb = permutations([1, 2, 3], 3)

for i in comb:
	print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [92]:
# Combinations Of string "GeEKS" OF SIZE 3.


from itertools import combinations
l=[1,2,3]
for i in range (1,4):
    print(list(combinations(l,i)))

[(1,), (2,), (3,)]
[(1, 2), (1, 3), (2, 3)]
[(1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [40]:
List_1 = ["a","b"]
List_2 = [1,2]
result=[]
for i in List_1:
    for j in List_2:
        result.append((i, List_2[List_2.index(j)]))

result

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [2]:
y=[1 ,1 ,2 ,3 ,4 ,5 ,1 ,2, 1 ]
x=int(input("which num u want to delete"))
q=[y[i]for i in y if i!=x]
q

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [8]:
list_1  = ["Gfg", "is", "best"]
list_2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result=[list_1[i] for i in list_2 ]
result

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [4]:
k=int(input("chosse num"))
n=int(input("chosse occurence times"))
test_list = [(4, 5, 5, 4), (5, 4, 3)]
result=[]
for i in test_list:
    if i.count(k)==n:
        result.append(i)

result

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [8]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
print(array)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [3]:
t=sorted({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})
t

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [23]:
k=int(input())
x={"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
y={ i :j for (i,j) in x.items() if not (isinstance(j, int) and (j > k))}






y

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [29]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result={
    "dic1":dic1,
    "dic2":dic2,
    "dic3":dic3
}

**43-Write a Python program to iterate over dictionaries using for loops

In [30]:
for i in result:
    print(result[i])

{1: 10, 2: 20}
{3: 30, 4: 40}
{5: 50, 6: 60}

**44- Write a Python script to merge two Python dictionaries

In [31]:
print(dic1|dic2)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [39]:

print(min(dic1.values()),
max(dic1.values()))

10 20

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [34]:
x={'c1': 'Red', 'c2': 'Green', 'c3': None}
y={ i :j for (i,j) in x.items() if j !=None}
y

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [41]:
mytuple = ("apple", "banana", "cherry")
print(mytuple[1])

banana

**48-Write a Python program to unpack a tuple into several variables

In [42]:
def myFun(*argv):
    for arg in argv:
        print(arg)
 
 
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

**49-Write a Python program to add an item to a tuple

In [43]:
mytuple=list(mytuple)
mytuple.append("watermelon")
mytuple=tuple(mytuple)
mytuple

('apple', 'banana', 'cherry', 'watermelon')

**50-Write a Python program to convert a tuple to a string

In [46]:
tuplee = ('g', 'e', 'e', 'k', 's')
ww="".join(tuplee)
ww

'geeks'

**51-Write a Python program to convert a list to a tuple

In [47]:
print(list(mytuple))

['apple', 'banana', 'cherry', 'watermelon']

**52-Write a Python program to reverse a tuple

In [51]:
lst=(list(mytuple))
lst.reverse()
print(tuple(lst))

('watermelon', 'cherry', 'banana', 'apple')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [54]:
Sample = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x=int(input("which tuple"))
y=int(input("which elment in tuple"))
z=int(input("what is value "))
r=list(Sample[x])
r[y]=z
Sample[x]=tuple(r)
Sample

[(10, 20, 40), (40, 50, 60), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [71]:
Original_string ="".join("python 3.0")
Original_string=Original_string.replace(" ","")
new_strr=tuple(Original_string[Original_string.index(i)] for i in Original_string)  



new_strr

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [73]:
Sample = ((10, 20, 40), (40, 50, 60), (70, 80, 90))
x=0
n=0
for i in Sample:
    x+=sum(i)
    n=len(i)
x/n

153.33333333333334

**56-Write a Python program to add member(s) to a set.

In [76]:
lst=set(lst)
lst.add(input())
lst

{'apple', 'banana', 'cherry', 'egg', 'momo', 'watermelon'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [81]:
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [79]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
un=A.union(B)
ii=A.intersection(B)

ds=A.symmetric_difference(B)
print(un,ii,ds)

{'b', 'c', 'a', 'e', 'd'} {'d', 'c'} {'b', 'a', 'e'}

**59-Write a Python program to find the maximum and minimum values in a set

In [82]:
print(num_set)
print(min(num_set))
print(max(num_set))

{1, 3, 4, 5}
1
5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [91]:
def sumpiar(list_1,x):
    result=[]
    while list_1:
        num=list_1.pop()
        diff=x-num
        if diff in list_1:
            result.append((diff,num))
    return result

         

lst =[1, 5, 3, 7, 9]
k=10
print(sumpiar(lst,12))

[(3, 9), (5, 7)]